body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: lightblue;
}
:root {
  font-size: 10px;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(2, 40%);
  justify-content: center;
  gap: 2rem;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
}

h1 {
  margin: 4rem auto;
  text-align: center;
  font-size: 4rem;
}

h2 {
  margin: 4rem auto;
  text-align: center;
  font-size: 3rem;
}

h4 {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.detail {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 3px;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: white;
}

a:hover {
  font-size: 1.8rem;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pagebtn {
  width: 3rem;
  border: none;
  color: blue;
  background-color: transparent;
  font-size: 1.8rem;
}

.active {
  display: block;
  color: red;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: blue;
  color: white;
}

.gray {
  color: gray;
}

@media screen and (max-width: 600px) {
  div .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
