:root {
  font-size: 10px;
}

body {
  background-color: lightblue;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6rem;
  margin: 4rem auto;
  text-align: center;
}

h2 {
  font-size: 4rem;
  margin: 4rem auto;
  text-align: center;
}

h4 {
  font-size: 2rem;
  text-align: center;
}

.user-container {
  margin: 4rem auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: center;
  gap: 4rem;
}
.user {
  position: relative;
}

.user img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.page-btn-container {
  display: flex;
  justify-content: space-around;
}

.default {
  background-color: transparent;
  color: blue;
  font-size: 2rem;
  border: none;
  margin-bottom: 2rem;
}

.default:hover {
  color: red;
}

.disabled:hover {
  color: gray;
}

.active {
  display: block;
  width: 3rem;
  height: 3rem;
  background-color: blue;
  border-radius: 50%;
  color: white;
}

.disabled {
  color: gray;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

a:hover {
  font-size: 2.2rem;
  text-decoration: underline;
  color: blue;
}

@media screen and (max-width: 900px) {
  .user-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .user-container {
    grid-template-columns: 1fr;
  }
}
